
#Dash {
  min-height: 100%;
  background-color: #00ABE7;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
#MovesList {
  min-height: 100%;
  min-height: 100vh;
  background-color: #5073D9;
  width: 20vw;
  float: left;
  display: block;
}

#Panel{
  width: 100%;
}

#Grid {
  background-image: url(../assets/olympic_grid.png);
  display: flex;
  opacity: 0.2;
  max-width: 100%;
  height: 75%; 
  object-fit: contain;

}

#Judges {
  width: 100%;
  height: 10%;
  background-color: #D75CA2;
  display: flex;
  font-family: Gill Sans, sans-serif;
  font-size: 30px;
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;

}

#Music {
  width: 100%;
  background-color: #5E2390;
  display: flex;
  font-family: Gill Sans, sans-serif;
  font-size: 30px;
  padding-bottom: 9px;
  padding-top: 9px;
  color: white;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;

}

@keyframes intro {
  from {opacity: 0;}
  to {opacity: 1;}
}

#MessageDash{
  margin: 30px;
  padding: 30px;
  font-size: 20pt;
  font-family: Gill Sans, sans-serif;
  color: white;
  background-color: #040F57;
  animation-name: intro;
  animation-duration: 4s;
  border-radius: 20px;
}


.Create{
  margin: 30px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  font-family: Gill Sans, sans-serif;
  font-size: 15pt;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: 0px;
  border-color: #0b1354;
  background-color: #9043C3;
  animation-name: intro;
  animation-duration: 4s;

}
