
#Dash {
  min-height: 100vh;
  background-color: #00ABE7;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
#MovesList {
  min-height: 100vh;
  background-color: #5073D9;
  height: 100vh;
  width: 20vw;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

@keyframes intro {
  from {opacity: 0;}
  to {opacity: 1;}
}

#MessageDash{
  margin: 30px;
  padding: 30px;
  font-size: 20pt;
  font-family: Gill Sans, sans-serif;
  color: white;
  background-color: #040F57;
  animation-name: intro;
  animation-duration: 4s;
  border-radius: 20px;
}


.Create{
  margin: 30px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  font-family: Gill Sans, sans-serif;
  font-size: 15pt;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: 0px;
  border-color: #0b1354;
  background-color: #9043C3;
  animation-name: intro;
  animation-duration: 4s;

}
