
#EditProfile {
  display: flex;
  flex-direction: column;
  justify-content: left;
/*  align-items: center;
  text-align: center;*/
  min-height: 100vh;
  background-color: #00ABE7;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 20px;
}

.EditProfileButton{
  margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  font-family: Gill Sans, sans-serif;
  font-size: 10pt;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: 0px;
  border-color: #0b1354;
  background-color: #9043C3;
}

#CancelButton{
  margin: 30px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  font-family: Gill Sans, sans-serif;
  font-size: 10pt;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: 0px;
  border-color: #0b1354;
  background-color: #9043C3;
}


#info{
  height: 100vh;
  width: 70%;
  font-family: Gill Sans, sans-serif;
  font-size: 20pt;
  font-weight: 600;
  color: white; /*text*/
  padding: 20px;
  text-align: left;
}

label{
  margin-right: 20px;
}

.fields input{
  height: 30px;
  width: 100%;
  flex-grow: 1;
  font-family: Gill Sans, sans-serif;
  font-size: 15pt;
}

select{
  height: 30px;
  width: 1000px;
  font-family: Gill Sans, sans-serif;
  font-size: 15pt;
}

.fields{
  margin-top: 40px;
  width: 100%;
  display: flex;
}


#profileimg {
  object-fit: cover;
  width:150px;
  height:150px;
  border-radius: 50%;
}
